############# begin Atlas config section ##########
-d:ssl
--noNimblePath
--path:"deps/mummy/src"
--path:"deps/zippy/src"
--path:"deps/webby/src"
--path:"deps/crunchy/src"
--path:"deps/nimsimd/src"
############# end Atlas config section   ##########
